@charset "UTF-8";
*{border: 1px solid royalblue;}

/* .temple_list ul li {
    text-align: center;
    margin-bottom: 10px;
} */

.shisetu {
    align-items: center;
    flex-direction: column;
    justify-content:  center;
    flex-wrap: wrap;
    max-height: 1800px;
}


@media screen and (min-width: 900px) {
    .shisetu {
        max-height: 1200px;
    }

    .shisetu_unit{
        width: 300px;
    }


}
.emphasis {
    font-weight: bold;
}




.shisetu_unit{
    width: 400px;
}

.shisetu li{
    line-height: 2.0em;
}
.mt_10 {
    margin: 10px 0 10px;
}


.temple_list{
    line-height: 3.0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;

}

.temple_list::after {
    content: " ";
    display: block;
    width: 300px;
}
.each_temple{
    width: 300px;
}



.ref_site{
    align-items: center;
    line-height: 3.0em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
}

.each_ref_site{
    width: 250px;
}



.reference{
    max-width: 700px;
    margin: 0 auto;
}

.reference li {
    padding: 10px 10px;
}


.reference li:nth-child(2n+1) {
        background: #F0EBCF;
      }




@media screen and (min-width: 750px) {

    /* .shisetu {
        flex-direction: row; */


        .ref_site{
            flex-direction: row;
        }
        











    }

    
