@charset "UTF-8";

.temple_list ul li {
    text-align: center;
    margin-bottom: 10px;
}

.about_us_list ul li {
    margin-bottom: 10px;
}

.mt_10 {
    margin: 10px 0 10px;
}

@media screen and (min-width: 1000px) {
    .temple_list {
        display: flex;
        justify-content: space-evenly;
    }
    .sisetu {
        display: flex;
        justify-content: space-evenly;
    }
    .sisetu_list {
        display: flex;
        flex-direction: column;
    }
}
