@charset "UTF-8";

/****************/
/*     共通     */
/****************/

.wrap {
    width: 100%;
    font-family: "Kiwi Maru";
    font-size: 16px;
    color: #754c24;
    background-image: url(../img/wasi3.png);
    background-repeat: repeat;
    /* background-color: #fbfaf5; */
    line-height: 1.5rem;
}

iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
}

img {
    width: 100%;
}

/* h1装飾 */
.h1_bg {
    width: 100%;
    height: 100px;
    font-size: 24px;
    color: #fbfaf5;
    text-shadow: 0 0 5px #333;
    text-align: center;
    line-height: 100px;
    margin: 80px auto 40px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

/* h2装飾 */
/*classにh2_bgを入れた部分はh2_boxで囲う！*/
.h2_box {
    text-align: center;
}

.h2_bg {
    position: relative;
    display: inline-block;
    font-family: "Kosugi Maru";
    font-size: 20px;
    color: #fbfaf5;
    background-color: #cd5e3c;
    padding: 20px 60px;
    margin-bottom: 40px;
}

.h2_bg::before {
    position: absolute;
    content: "";
    left: -10px;
    top: -3px;
    border-top: 1px solid #754c24;
    border-bottom: 1px solid #754c24;
    width: 100%;
    height: 100%;
}

/* h3装飾 */
.h3_bg {
    min-width: 15em;
    width: fit-content;
    font-size: 18px;
    text-align: center;
    border-bottom: 3px solid #c69c6d;
    padding: 10px 20px;
    margin: 0 auto;
}

/* h4装飾 */
.h4_bg {
    font-weight: bold;
    margin: 0 auto 10px;
}

/* h1下のキャプション */
.big_cap {
    line-height: 1.5em;
    padding: 0 80px;
}

/* 画像などの説明キャプション */
.small_cap {
    line-height: 1.5em;
    /* margin: 0 auto 40px; */
    padding-left: 20px;
    margin: 0 auto;
}

/* もっと知るボタン */
.button18 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 0 40px auto;
    padding: 1em;
    width: 160px;
    height: 50px;
    background-image: url(../img/andmore.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    transition: 0.3s;
}
.button18 a::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 1.5em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #6a3c2b;
    transition: 0.3s;
}
.button18 a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.5em;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: #6a3c2b;
    transition: 0.3s;
}

.button18 a:hover::before,
.button18 a:hover::after {
    right: 0.5em;
}

/*パンくずリストデザイン*/
.breadcrumb_inner {
    padding: 15px 50px;
    margin-bottom: 100px;
}

/*お気に入りボタン*/
.shop_info_fav {
    font-size: 2rem;
    text-align: right;
    margin-bottom: 20px;
    /* color: #cd5e3c; */
}

@media screen and (min-width: 1000px) {
    .wrap {
        font-size: 18px;
    }

    .h1_bg {
        height: 150px;
        font-size: 36px;
        line-height: 150px;
        margin-top: 100px;
    }

    .h2_bg {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .h3_bg {
        font-size: 22px;
        margin-bottom: 0 auto 80px;
    }

    .button18 a {
        width: 170px;
    }

    /*パンくずリストデザイン*/
    .breadcrumb_inner {
        margin-bottom: 80px;
    }
}

/****************/
/***  header  ***/
/****************/

.header_inner {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
}

.header_logo img {
    height: 80px;
    padding: 15px 0 15px 40px;
    background-color: none;
}

/* safariの場合のヘッダーロゴサイズ指定 */
_:lang(x) + _:-webkit-full-screen-document,
.header_logo img {
    /* height: 17vh; */
    width: auto;
    /* background-color: turquoise; */
}

/**********************/
/***ハンバーガーボタン***/
/**********************/
/*ボタン位置*/
.header_hamburger {
    position: fixed;
    z-index: 10;
    /*ボタン最前面*/
    padding: 15px;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
}

/*ボタンデザイン*/
.header_hamburger span {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 5px;
    background-color: #754c24;
    transition: all 0.3s;
}
.header_hamburger span:nth-child(1) {
    top: 10px;
}
.header_hamburger span:nth-child(2) {
    top: 20px;
}
.header_hamburger span:nth-child(3) {
    top: 30px;
}
/*インスタアイコン*/
.menu-item-1126 {
    margin-left: 24px;
}
.menu-item-1137 {
    margin-left: 24px;
}

/*ボタンが押されたとき*/
.header_hamburger.active {
    background-color: transparent;
}
.header_hamburger.active span:nth-of-type(1) {
    right: 10px;
    top: 15px;
    transform: rotate(45deg) translate(5px, 5px);
}
.header_hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
.header_hamburger.active span:nth-of-type(3) {
    right: 10px;
    top: 35px;
    transform: rotate(-45deg) translate(9px, -9px);
}

/**********************/
/***  ナビメニュー  ***/
/**********************/
/***メニュー部分***/
.header_nav {
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #fbfaf5;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav ul {
    display: none;
    text-align: center;
}

.header_nav li {
    position: relative;
    margin-bottom: 40px;
    /* line-height: 1em; */
}

/*下線デザイン*/
.header_nav li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #cd5e3c;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
.header_nav li:hover::after {
    transform: scale(1, 1);
}

/***ハンバーガーボタンが押されたとき表示***/
.header_nav.active {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    opacity: 1;
}
.header_nav.active ul {
    display: block;
}
/*ハンバーガー展開中はスクロールしない設定*/
body.active {
    height: 100%;
    overflow: hidden;
}

@media screen and (min-width: 950px) {
    .header_inner {
        position: none;
        justify-content: space-between;
        padding: 0 30px 0 0;
    }

    .header_hamburger {
        display: none;
    }

    /* ハンバーガーメニュー時のみインスタグラムアイコン表示 */
    .menu-item-1126 {
        display: none;
    }
    .menu-item-1137 {
        display: none;
    }

    .header_nav {
        opacity: 1;
        z-index: 2;
        width: 100%;
        height: 100px;
        background: rgba(251, 250, 245, 0);
        transition: none;
        padding: 0;
    }

    .header_nav ul {
        align-items: flex-end;
    }

    .header_nav li {
        text-align: center;
        position: relative;
        padding: 0 10px;
        margin-bottom: 40px;
        line-height: 1em;
    }

    .header_nav ul {
        display: flex;
    }
}

/****************/
/***   main   ***/
/****************/

.main_inner {
    margin: 0 auto;
}

/* コースボタン */
.course_btn {
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    color: #fbfaf5;
    margin: 4px auto 40px;
    padding: 12px;
    background-color: #79afaf;
    box-shadow: 6px 6px 6px gray;
}
/* コースボタン押し込み */
.course_btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
    box-shadow: 0px 0px 0px;
}

.btn1 {
    background-color: #79afaf;
    box-shadow: 6px 6px 6px #c7c7c7;
}
.btn1:hover {
    background-color: #62a2b4;
    box-shadow: 6px 6px 6px #c7c7c7;
}

.btn2 {
    background-color: #8ab53e;
    box-shadow: 6px 6px 6px #c7c7c7;
}
.btn2:hover {
    background-color: #5da927;
    box-shadow: 6px 6px 6px #c7c7c7;
}

.btn3 {
    background-color: #cd5e3c;
    box-shadow: 6px 6px 6px #c7c7c7;
}
.btn3:hover {
    background-color: #d13b39;
    box-shadow: 6px 6px 6px #c7c7c7;
}

.btn4 {
    background-color: #c5a22b;
    box-shadow: 6px 6px 6px #c7c7c7;
}
.btn4:hover {
    background-color: #c99110;
    box-shadow: 6px 6px 6px #c7c7c7;
}

.btn5 {
    background-color: #bc786a;
    box-shadow: 6px 6px 6px #c7c7c7;
}
.btn5:hover {
    background-color: #ba5e4b;
    box-shadow: 6px 6px 6px #c7c7c7;
}

/*要素フェードイン*/
/* フェードイン(初期値) */
.js-fadeUp {
    opacity: 0;
    /* 最初は非表示 */
    transform: translateY(30px);
    /* 下に30pxの位置から */
    transition: opacity 0.8s, transform 0.8s;
    /* 透過率と縦方向の移動を0.8秒 */
}

/* フェードイン(スクロールした後) */
.js-fadeUp.is-inview {
    opacity: 1;
    /* 表示領域に入ったら表示 */
    transform: translateY(0);
    /* 30px上に移動する */
    /* transition-delay: 0.5s; */
    /* フェード開始を0.5秒遅らせる */
}

/****************/
/***  footer  ***/
/****************/
.footer_inner {
    flex-direction: column;
    min-width: 320px;
    color: #fbfaf5;
    text-align: center;
    background-image: url(../img/footer_bg02.jpg);
    /* background-color: #71674c; */
    padding: 40px 0 15px;
}

/*TOPへ戻るボタン*/
.page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 3;
}

.page-top a {
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 3;
}

.page-top a:hover {
    text-decoration: none;
}

.page-top img {
    width: 60px;
    height: 60px;
}

.page-top.active {
    display: none;
}

/*インスタマーク*/
.footer_insta {
    justify-content: center;
    margin-bottom: 20px;
}
.fa-instagram {
    font-size: 40px;
    margin-right: 20px;
}
.footer_insta p {
    line-height: 40px;
}

/*リンク*/
.footer_links {
    display: none;
}

/*ロゴマーク*/
.footer_logo {
    width: 180px;
    /* margin-bottom: 50px; */
}

/*サイトマップ*/
.footer_nav {
    line-height: 2em;
    margin-bottom: 20px;
}

.footer_nav_b {
    font-weight: bold;
}
.sp_none {
    display: none;
}

.sp_none li {
    list-style: none;
}

@media screen and (min-width: 1000px) {
    .footer_links,
    .sp_none {
        display: block;
    }

    .footer_links {
        max-width: 870px;
        margin: 0 auto 40px;
    }
    .footer_links ul {
        justify-content: space-around;
    }

    /* バナー比率はaspect3:1で作成のこと */
    .footer_links li img {
        width: 50%;
        height: auto;
    }

    /*TOPへ戻るボタン*/
    .page-top {
        bottom: 60px;
        right: 60px;
    }

    .page-top a {
        bottom: 60px;
        right: 60px;
    }
    .page-top img {
        width: 80px;
        height: 80px;
    }

    .page-top.active {
        z-index: -100;
    }

    .footer_nav {
        max-width: 870px;
        margin: 0 auto 20px;
        text-align: left;
        font-size: 14px;
    }

    .footer_nav > ul {
        display: flex;
        justify-content: space-between;
    }

    .sp_none {
        list-style: disc;
    }

    .footer_nav_b {
        font-size: 16px;
        list-style: none;
    }
}

/****************/
/* ユーティリティ */
/****************/
.text_c {
    text-align: center;
}

.flex {
    display: flex;
}

.flex_d_c {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 30px;
}

.contents_width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

@media screen and (min-width: 1000px) {
    .flex_d_c {
        flex-direction: row;
        justify-content: space-between;
        max-width: 500px;
        text-align: center;
    }

    .contents_width {
        max-width: 1000px;
        margin: 0 auto;
        /* padding: 0; */
    }
}

.sec_mb40 {
    /* max-width: 1000px; */
    padding: 0 10px;
    margin: 0 auto 40px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_80 {
    margin-bottom: 80px;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_150 {
    margin-bottom: 150px;
}
