@charset "utf-8";
/* *{border: 1px solid royalblue;} */
/*========= 単独ページのためのcss（written by akagi) ===============*/

/* h1下のキャプション */
.big_cap_independent {
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 40px;
}
.small_cap_independent {
    margin: 0 auto;
    font-size: 16px;
    line-height: 2em;
    max-width: 800px
}

.ol_independent {
    list-style-type: decimal;
    font-size: 14px;
    line-height: 2em;
    padding: 0 40px;
    margin-bottom: 10px;
}

.ol_kanji {
    list-style-type: cjk-ideographic;
    font-size: 14px;
    line-height: 2em;
    padding: 0 40px;
    margin-bottom: 10px;
}

.ul_independent {
    list-style-type: circle;
    font-size: 14px;
    line-height: 2em;
    padding: 0 40px;
    margin-bottom: 10px;
}

.h3_bg_independent {
    min-width: 15em;
    width: fit-content;
    font-size: 18px;
    text-align: center;
    border-bottom: 3px solid #c69c6d;
    padding: 10px 20px;
    margin: 0 auto 20px;
}

.sec {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.procedure {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    border: 1px solid #008080;
    border-radius: 30px;
    gap: 40px;
    padding: 40px;
}
.procedure_skin {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #c69c6d;
    border-radius: 30px;
    margin-bottom: 150px;
}

.picto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illust {
    width: 300px;
    height: auto;
    margin-right: 40px;
}
.notes {
    max-width: 450px;
}

.hatenagirl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hatenagirl2 {
    width: 100px;
    height: auto;
}

.dashline {
    max-width: 600px;
    border: 4px dashed #008080;
    margin: 0 auto 20px;
    padding: 20px 40px;
}

.fuda {
    margin: 0 auto 40px;
    flex-direction: column;
    display: flex;
    align-items: center;

}


.fuda img{
    width: 100px;
    height: auto;
}

.oinori {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.oinori_img {
    width: 200px;
    height: auto;
}

.oinori_txt {
    max-width: 550px;
}

.ema {
    /* margin: 0 auto; */
    width: fit-content;
    padding: 1px 30px;
    background-image: url(../img/emahaikei.png);
}

.emphasis {
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
}

.pictono {
    display: flex;
    align-items: start;
}

.haikei {
    display: none;
}

.contac {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .ema {
        padding: 1px 100px;
    }
    .picto {
        flex-direction: row;
    }

    .oinori {
        flex-direction: row;
    }
    /* 阿波踊りの背景を指定 */
    .haikei {
        display: flex;
        align-items: center;
    }
    .haikei_1 {
        width: 150px;
        height: auto;
    }
    .con {
        text-align: right;
        margin-right: 20px;
    }

    .fuda {
        flex-direction: row;
    
    }
    
}



.yuru_introduction{
    max-width: 1000px;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
	background-image:url(../img/awaodori.png),
					 url(../img/tokusimatizu.png),
					 url(../img/renkon.png);
	background-repeat:no-repeat,
					  no-repeat,
					  no-repeat;
	background-position:top right,
						left bottom,
						left bottom;
    background-size:15%,45%,10%;
}

.yuru_introduction_txt{
    max-width: 700px;
    height: auto;
    min-height: 450px;
    margin: 0 auto;


}



.yuru_txt{
    max-width: 700px;
    margin: 0 auto;

}


.awaodori_bgimg{
        max-width: 950px;
        height: auto;
        min-height: 210px;
        margin: 0 auto;
        padding: 0 10%;
        background-image:url(../img/awaodori2.png),
                         url(../img/awaodori2.png);

        background-repeat:no-repeat,
                          no-repeat;
        background-position:top right,
                            top left;
        background-size:15%,15%;

}
