@charset "UTF-8";

/****************/
/* コースページ */
/****************/
.course_tab {
    max-width: 1000px;
    margin: 0 auto;
}

/*タブのデザイン*/
.course_tabWrap {
    flex-wrap: wrap;
    margin: 0 auto;
}
.course_tabWrap li a {
    display: block;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #754c24;
    border-radius: 5px 5px 0 0;
}

.course_tabWrap li {
    flex-grow: 1;
}

.course_tabWrap li:nth-child(1) a {
    background: #c5a22b;
}
.course_tabWrap li:nth-child(2) a {
    background: #cd5e3c;
}
.course_tabWrap li:nth-child(3) a {
    background: #8ab53e;
}
.course_tabWrap li:nth-child(4) a {
    background: #79afaf;
}
.course_tabWrap li:nth-child(5) a {
    background: #bc786a;
}
/*押されたタブ背景が白くなる*/
.course_tabWrap li.active a {
    background: #fff;
}

/*タブエリアの表示非表示*/
.course_tabCont {
    display: none;
    opacity: 0;
    padding: 50px 20px;
}
/*タブが押されたら表示*/
.course_tabCont.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* タブ内容 */
.course_mainWrap {
    border: 2px solid #754c24;
    margin: 0 auto 100px;
}

/*コース内容デザイン*/
.course_rootCap {
    margin: 0 auto;
}

.course_tabCont > p {
    text-align: center;
}

.course_flag {
    width: 8em;
    text-align: center;
    background-color: #faeab5;
    border-radius: 100px;
    border: 2px solid #754c24;
    padding: 10px 15px;
}

.small_cap {
    padding-left: 20px;
}

.course_contPhoto img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
}

.course_contInfo {
    align-items: center;
}
.course_contIcon {
    width: 80px;
    height: 80px;
    background-color: #eee;
}
.course_contTime {
    padding-left: 10px;
}

.course_col {
    flex-direction: column;
}

.course_col .button18 {
    align-self: flex-start;
}

@media screen and (min-width: 800px) {
    .course_contWrap {
        display: flex;
        margin-bottom: 40px;
    }
    .course_tabWrap li a {
        font-size: 16px;
    }
    .course_mainWrap {
        padding: 0 40px;
    }
    .course_contPhoto img {
        width: 50vh;
    }
    .course_contCap {
        padding-left: 40px;
    }
    .course_contInfo {
        margin-bottom: 100px;
    }
}

/****************/
/* ブックマーク */
/*   条件検索   */
/****************/

.display_area {
    background-color: #fff;
    border: 2px solid #754c24;
    border-radius: 10px;
    padding: 40px;
}

.bookmark_wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

/****************/
/*  Q&Aと用語集  */
/****************/
.section_line {
    border-bottom: 2px dotted #c69c6d;
    padding: 0 20px;
    margin: 0 auto 20px;
}

.rowLine {
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

/* .rowLine > span  */
.circle_mark1,
.circle_mark2 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}

.circle_mark1 {
    background-color: #ffc09c;
}

.circle_mark2 {
    background-color: #baddb4;
}

@media screen and (min-width: 1400px) {
    .rowLine > span {
        width: 60px;
        height: 60px;
        font-size: 18px;
        line-height: 60px;
        margin-right: 20px;
    }
}
