@charset "UTF-8";

/*********************/
/* ＃ゆるへんろって？ */
/*********************/

/* h1背景画像 */
.page-id-24 .h1_bg {
    background-image: url(../img/h1_bg04.png);
}

/****************/
/* 参拝スタイル */
/****************/

/* h1背景画像 */
.page-id-28 .h1_bg {
    background-image: url(../img/h1_bg01.jpg);
}

.big_cap {
    text-align: center;
}

.cp_area1 {
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fbf0ea;
    border-radius: 20px;
    margin: 0 30px;
    padding: 30px;
}

.cp_area1_in {
    width: 300px;
    margin: 0 auto;
}

.cp_area1_in .small_cap > p {
    text-align: center;
}

.cp_area2 {
    padding: 30px;
    margin: 0 30px;
    flex-direction: column;
}

.cp_area2_in {
    padding-right: 30px;
    margin: 0 30px;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
}

.cp_area3 {
    max-width: 300px;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto 40px;
}

.cp_area3_in {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cp_mame {
    flex-direction: column;
    flex-wrap: wrap;
}

.cp_minittl {
    font-size: 20px;
    text-decoration: underline;
}

.cp_deco1 {
    max-width: 1000px;
    height: auto;
    margin: 100px auto;
}

.cp_deco2 {
    border: 2px Dashed #79afaf;
    padding: 40px;
}

.cp_deco2 > img {
    display: none;
}

@media screen and (min-width: 760px) {
    .cp_area1 {
        max-width: 1100px;
        margin: 0 auto;
    }

    .cp_area2 {
        max-width: 1100px;
        padding: 30px;
        margin: 0 auto;
        flex-direction: row;
    }

    .cp_area3 {
        min-width: 400px;
        margin: 0 auto 40px;
    }

    .cp_area3_in {
        max-width: 900px;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }

    .cp_mame {
        flex-direction: row;
        justify-content: space-between;
    }

    .cp_mame div {
        max-width: 450px;
    }
    .cp_mame div:first-child {
        margin-right: 20px;
    }

    .cp_deco2 {
        position: relative;
        padding: 60px;
    }

    .cp_deco2 > img {
        display: block;
        width: 130px;
        height: 130px;
    }

    .cp_deco2 > img:nth-child(1) {
        position: absolute;
        left: -30px;
        top: -65px;
    }

    .cp_deco2 > img:nth-child(2) {
        position: absolute;
        right: -30px;
        bottom: -65px;
    }
}

/****************/
/* コースページ */
/****************/

/* コースページh1背景画像 */
.course-template-default .h1_bg {
    background-image: url(../img/h1_bg08.jpg);
}

.course_tab {
    max-width: 1100px;
    margin: 0 auto;
}

/*タブのデザイン*/
.course_tabWrap {
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 auto;
}
.course_tabWrap li a {
    display: block;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #754c24;
    border-radius: 5px 5px 0 0;
}

.course_tabWrap li {
    flex-grow: 1;
}

.course_tabWrap li:nth-child(1) a {
    background: #79afaf;
}
.course_tabWrap li:nth-child(2) a {
    background: #8ab53e;
}
.course_tabWrap li:nth-child(3) a {
    background: #cd5e3c;
}
.course_tabWrap li:nth-child(4) a {
    background: #c5a22b;
}
.course_tabWrap li:nth-child(5) a {
    background: #bc786a;
}
/*押されたタブ背景が白くなる*/
.course_tabWrap li.active a {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*タブエリアの表示非表示*/
.course_tabCont {
    display: none;
    opacity: 0;
    padding: 50px 20px;
}
/*タブが押されたら表示*/
.course_tabCont.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* タブ内容 */
.course_mainWrap {
    border: 2px solid #754c24;
    margin: 0 auto 100px;
}

/*コース内容デザイン*/
.course_rootCap {
    margin: 0 auto;
}

.course_tabCont div p {
    text-align: center;
}

.course_flag {
    width: 8em;
    text-align: center;
    background-color: #faeab5;
    border-radius: 100px;
    border: 2px solid #754c24;
    padding: 10px 15px;
}

.course_st {
    width: 24em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
}

.small_cap {
    padding-left: 20px;
}

.course_contPhoto img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
}

.course_contInfo {
    align-items: center;
}

.course_contInfo:last-child {
    display: none;
}

.course_contIcon {
    width: 80px;
    height: 80px;
}

.course_contTime {
    padding-left: 10px;
}

.course_col {
    flex-direction: column;
}

.course_col .button18 {
    align-self: flex-start;
}

@media screen and (min-width: 1000px) {
    .course_contWrap {
        display: flex;
        /* margin-bottom: 40px; */
    }
    .course_tabWrap li a {
        font-size: 16px;
    }
    /* .course_mainWrap {
        padding: 0 20px;
    } */
    .course_contPhoto img {
        width: 70vh;
    }
    .course_contCap {
        padding-left: 40px;
    }
    .course_contInfo {
        margin-bottom: 100px;
    }
}

/****************/
/*  門前一番街  */
/*   お寺一覧   */
/****************/

/* 門前一番街h1背景画像 */
.page-id-337 .h1_bg {
    background-image: url(../img/h1_bg07.jpg);
}

/****************/
/* ブックマーク */
/*   条件検索   */
/****************/

/* ブックマーク h1背景画像 */
.page-id-32 .h1_bg {
    background-image: url(../img/h1_bg06.jpg);
}

/* 条件検索h1背景画像 */
.search-results .h1_bg {
    background-image: url(../img/h1_bg02.jpg);
}

.display_area {
    background-color: #fff;
    border: 2px solid #754c24;
    border-radius: 10px;
}

/****************/
/*  Q&Aと用語集  */
/****************/

/* Q&A h1背景画像 */
.post-type-archive-qanda .h1_bg {
    background-image: url(../img/h1_bg05.jpg);
}

.section_line {
    border-bottom: 2px dotted #c69c6d;
    padding: 0 20px;
    margin: 0 auto 20px;
}

.rowLine {
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

/* .rowLine > span  */
.circle_mark1,
.circle_mark2 {
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}

.circle_mark1 {
    background-color: #ffc09c;
}

.circle_mark2 {
    background-color: #baddb4;
}

@media screen and (min-width: 1000px) {
    .rowLine > span {
        width: 60px;
        height: 60px;
        font-size: 18px;
        line-height: 60px;
        margin-right: 20px;
    }
}

/****************/
/*      404      */
/****************/
.link {
    padding: 0 10px;
    border-bottom: 1px solid;
}
