@charset "UTF-8";

/****************/
/*     共通     */
/****************/

.wrap {
  width: 100%;
  font-family: "Kiwi Maru";
  font-size: 16px;
  color: #754c24;
  background-color: #fbfaf5;
}

img {
  width: 100%;
}

/****************/
/*  メイン部分  */
/****************/

.kv_inner {
  position: relative;
}

.kv img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.vertical {
  writing-mode: vertical-rl; /* 縦向きにする */
  text-orientation: upright;
}

.catch_phrase {
  position: absolute;
  /* top: 0;
  left: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #fbfaf5;
  line-height: 1.5em;
}

/* 周辺情報の写真 */

.nearby_info_list {
  display: flex;
  justify-content: space-around;
}

.nearby_info_box img {
  width: 150px;
  height: auto;
}
